* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  background: repeat url(peakpx.jpg);
  /* background: center / contain no-repeat url(peakpx.jpg); */
}
.container {
  /* border:solid red 2px; */

  color: white;
  position: absolute;
  top: 35%;
  left: 40%;
  width: 20%;
}
.container h1 {
  /* width:50px; */
  color: white;
  display: inline-block;
  font-size: 40px;
  border-bottom: 5px solid rgb(223, 130, 8);
  margin-bottom: 15px;
  padding: 13px 0;
}
.box {
  /* border: 2px solid green; */
  width: 100%;
  border-bottom: 2px solid orange;
  margin: 25px 0px;
}
.box input {
  background: none;
  width: 75%;

  padding: 5px 10px;
  font-size: 20px;
  outline: none;
  border: none;
  color: white;
}
.box i {
  /* padding: 0 12px; */
  width: 25px;
  text-align: center;
  color: coral;
}
.btn {
  font-weight: bold;
  color: white;
  background: none;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  /* width: 25%; */
  margin: 12px 0;
  padding: 10px 21px;
  border-radius: 10px;
  border: 2px solid purple;
}
.btn:hover {
  opacity: 0.3;
  color: coral;
  background: white;
}
